$primary: #7AADC5 ;
$secondary: #79E8B0 ;
$tertiary: #F9F871;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary;
}

h1 {
    color: $secondary;
}
h2 {
    color: #954A00;
}

.logo {
    width: 5rem;
    height: 5rem;
    padding-right: 0.5rem;
}

.tertiary {
    text-decoration: none;
    color: $tertiary;
}